.Cart {
    width: 80vw;
    max-width: 80vw;
    min-width: 200px;
}

.CartGrid {
    padding: 2vw;
}

.CartContent {
    width: 80vw;
    max-width: 80vw;
    min-width: 20vw;
    height: 80vh;
    max-height: 80vh;
    min-height: 20vw;
}

.CartItem {
    padding: 2vw;
    width: 15vw;
    max-width: 15vw;
    height: 15vw;
    max-height: 15vh;
    margin: 1vw;
}

.CartItemCardMedia {
    height: 15vh;
    width: 10vw;
    max-width: 10vw;
    max-height: 15vh;
    border: 1px solid #686963;
}

.CartTotal {
    float: right;
    top: 100vh;
    margin-right: 10vw;
}