.Cart {
    width: 80vw;
    max-width: 80vw;
    min-width: 200px;
}

.CartGrid {
    padding: 2vw;
}

.CartContent {
    /*width: 80vw;*/
    max-width: 80vw;
    min-width: 200px;
    /*height: 80vh;*/
    max-height: 80vh;
    min-height: 200px;
}