.UserOrderViewContainer {
    width: 100vw;
    text-align:center;
}

.UserOrderViewGrid {
    padding: 10vw;
    min-width: 20vw;
    width: 100vw;
}

.OrderCard, .PendingOrderCard, .FulfilledOrderCard {
    min-width: 5vw;
    min-height: 5vh;
    width: 40vw;
    height: 40vh;
    padding: 4vw;
    margin: 2vw;
    background-color: #F1EDEE;
}

.FulfilledOrderSelection {
    background-color: #3D5467;
}

.PendingOrderSelection {
    background-color: #8AA29E;
}