.UserOrderViewContainer {
    width: 100vw;
    text-align:center;
    font-size: 18pt;
}

.UserOrderViewGrid {
    padding: 10vw;
    min-width: 20vw;
    width: 100vw;
    background-color: #8AA29E;
    border: 2px solid #0b445f;
}

.OrderCard, .PendingOrderCard, .FulfilledOrderCard {
    min-width: 30vw;
    min-height: 30vh;
    width: 30vw;
    height: 30vh;
    padding: 1vw;
    margin: 2vw;
    border-radius: 200%;
}

.OrderCard {
    background-color: #F1EDEE;
}

.PendingOrderCard {
    background-color: rgba(255, 97, 97, 0.77) !important;
}

.FulfilledOrderCard {
    background-color: rgba(93, 202, 101, 0.62) !important;
}

.OrderCardHeader {
    font-weight: bolder;
    font-size: 20pt;
}