.RestaurantCard {
    margin: 1vw;
    height: 50vh;
    width: 50vh;
    text-align: center;
    cursor: pointer;
}

.RestaurantCardContent {
    text-align: center;
    background-color: rgba(231, 231, 231, 0.31);
}

.RestaurantCardMedia {
    text-align: center;
    height: 30vh;
    width: 30vw;
}

.UserRestaurantPopover {
    height: 100vh;
    width: 100vw;
    float: right;
}

.UserRestaurantViewGrid {
    padding: 10vw;
}