.ActiveMenuPopover {
    width: 50vw;
    height: 80vh;
    margin: 4vw;
    background-color: #494a44;
}

.ActiveMenu {
    height: 600vh;
    width: 50vw;
    background-color: #686963;
}

.ActiveMenu {
    padding: 2vw;
}

.ActiveMenuPopover {
    padding: 1vw;
}

.MenuItemCard {
    max-width: 30vw;
    max-height: 35vh;
    height: 20vh;
    margin: 1vw;
}

.MenuItemCardContent {
    text-align:center;
}

.MenuBuyButton {
    float: right;
    margin-left: 4.5vw!important;
}

.CloseButton {
    cursor: pointer;
    margin-bottom: 2vh;
}

.UserMenu {
    vertical-align: top;
    /*width: 10vw;*/
    /*height: 100vh;*/
}

.MenuCardMedia {
    height: 15vh;
    width: 10vw;
    max-width: 10vw;
    max-height: 15vh;
    border: 2px solid #686963;
    float: left;
}

.MenuHeader {
    margin-left: 2vw;
}

.UserMenuItem {
    height: 100%;
    width: 100%;
    vertical-align: top;
    background-color: #aeaeae;
}