.App {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  background-color: rgba(219, 84, 97, 0.61);
  /*font-family: "American Typewriter";*/
  font-family: Verdana;
  font-weight: bold;
}

.AppNav {
  float: left;
}

.ViewGrid {
  max-width: 50vw;
  width: 50vw;
  min-height: 80vh;
  height: 80vh;
  background-color: #686963;
}

.Cart {
  max-width: 20vw;
  width: 20vw;
  min-height: 80vh;
  height: 80vh;
  background-color: #8AA29E;
}

.LandingLogo {
  width: 100vw;
  height: 70vh;
}

.LogoContainer {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
